header {
  background-image: url("https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-repeat: repeat;
  color: #fff;
  padding: 20% 10%;
}

body {
  margin: 0;
}

h1 {
  margin-bottom: 2px;
}

p {
  margin-top: 0;
}

main {
  margin: 10% 3%;
}

/* desktop */
@media screen and (min-width: 1200px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .imgbox{
    height: 300px;
    width: 300px;
  }
  
}
