body {
    background-color: pink;
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* li {
    padding: 2px;
    background-color: aliceblue;
}  */


@media screen and (max-width: 768px) {
    header {
        display: block;
    }
    body {
        background-color: rgb(115, 115, 192);
    }
    h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 480px) {
    ul { 
        display: block;
    }
    body {
        background-color: beige;
    }
}