body {
    background-color: #eee2dc;
}

button {
    width: 200px;
    border: none;
}

.clicker {
    background-color: #AC3B61;
    color: #c5c6c7;
}

.topper {
    background-color: #123C69;
    color: #c5c6c7;
}

