label {
    display: block;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
} 
body {
    background-color: rgb(116, 125, 136);
    max-width: 500px;
    margin: 5em auto;
 }

 input {
    border-radius: 5px;
 }
 button {
    max-width: 500px;
 }